/*@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');*/

* {
    /* Fonts*/
    --work: 'Work Sans', sans-serif;
    /* Colors*/
    --h2o: #7bd4cc;
    --honey: #bea42e;
    --army: #7b895b;
    --green: #037367;
    --sangria: #00281f;
    --white: #fff;

    --preference: #FB903E;
    /* https://www.color-hex.com/color/fb903e */
    /* shadows */
    --preference-sh1: #e18137;
    --preference-sh2: #c87331;
    --preference-sh3: #af642b;
    --preference-sh4: #965625;
    --preference-sh5: #7d481f;
    --preference-sh6: #643918;
    --preference-sh7: #4b2b12;
    --preference-sh8: #321c0c;
    --preference-sh9: #190e06;
    --preference-sh10: #000000;
    /* tints */
    --preference-tint1: #fb9b51;
    --preference-tint2: #fba664;
    --preference-tint3: #fcb177;
    --preference-tint4: #fcbc8b;
    --preference-tint5: #fdc79e;
    --preference-tint6: #fdd2b1;
    --preference-tint7: #fdddc5;
    --preference-tint8: #fee8d8;
    --preference-tint9: #fef3eb;
    --preference-tint10: #ffffff;
    /* monochromatic */
    --preference-mono-minus-3: #e86705;
    --preference-mono-minus-2: #fa730c;
    --preference-mono-minus-1: #fa8225;
    --preference-mono-plus-1: #fc9e57;
    --preference-mono-plus-2: #fcad70;
    --preference-mono-plus-3: #fdbb89;
    --preference-complementary: #3ea9fb;
    /* Transition */
    --transition-short: all .3s;
    /* padding */
    --padding-standard: 1rem;
}

html, body {
    min-height: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--work); /* IE10+ */
}

h2, p, input, h1, h3 {
    font-family: var(--work);
}

.left_panel {
    padding-left: 0px;
    padding-right: 0px;
}

    .left_panel header {
        background-color: var(--preference);
        padding: var(--padding-standard);
    }

#chart_datas {
    position: relative;
}

#chartpanel {
    background-color: white;
    height: auto;
    border-radius: 7px;
    border: var(--preference-tint7) 1px solid;
}


.hideshow {
    color: var(--white);
    font-size: .8rem;
}

.inputHide {
    opacity: 1;
    -webkit-transition: var(--transition-short);
    -moz-transition: var(--transition-short);
    -o-transition: var(--transition-short);
    transition: var(--transition-short);
}

.is-collapsed {
    opacity: 0;
}

.addRowBtn {
    width: auto;
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    background-color: var(--preference-sh2);
    padding: .1rem .9rem;
    border-radius: 2rem;
    margin-top: -4rem;
    z-index: 999999999999999;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: var(--transition-short);
    -moz-transition: var(--transition-short);
    -o-transition: var(--transition-short);
    transition: var(--transition-short);
}

    .addRowBtn:hover {
        -webkit-box-shadow: -2px 3px 1px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: -2px 3px 1px 0px rgba(0,0,0,0.45);
        box-shadow: -2px 3px 1px 0px rgba(0,0,0,0.45);
    }

    .addRowBtn .fa {
        color: var(--white);
        margin-top: 7px;
    }

.single-cel {
    overflow: hidden;
    display: block;
    position: relative;
}

.edit_mode {
    cursor: pointer;
    color: var(--preference-sh2);
    position: absolute;
    right: 1.3rem;
    -webkit-transition: var(--transition-short);
    -moz-transition: var(--transition-short);
    -o-transition: var(--transition-short);
    transition: var(--transition-short);
    margin-right: 2%
}

    .edit_mode:hover {
        opacity: .6;
    }

.edit_panel {
    padding-left: 1rem !important;
    padding-right: 1rem;
    padding-top: .5rem !important;
}

    .edit_panel button {
        color: var(--preference-sh2);
    }

        .edit_panel button:hover {
            opacity: .6;
        }

.left_panel {
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 20px 0px var(--preference-sh2);
    -moz-box-shadow: 0px 0px 20px 0px var(--preference-sh2);
    box-shadow: 0px 0px 20px 0px var(--preference-sh2);
}

    .left_panel header {
        overflow: hidden;
        position: relative;
        color: var(--white);
    }

.menu_top_icon, .right_nav .fa-heart, .right_nav .fa-link {
    font-size: 1.3rem;
    color: var(--sangria);
}

.right_nav .fa-user-circle {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.right_nav .fa-link {
    margin-left: 1rem;
}

.right_nav {
    float: right;
}

#chart_datas {
    padding-top: 1rem;
    margin-top: 1.5rem;
}

.input_wrp .cell {
    padding: 0px;
}

#chart_datas input,
#chart_datas select {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: none;
    background-color: rgba(255,255,255,.0);
    border-color: var(--preference-sh2);
    color: var(--preference-sh2);
}

#cart_table, #chart_datas {
    padding-left: 1rem;
    padding-right: 1rem
}

#chart_table {
    padding-left: 1rem;
    padding-right: 1rem;
}

    #chart_table .column {
        padding: 3px;
    }

    #chart_table .row {
        margin-left: 0px;
        margin-right: 0px;
        display: inline-block!important;
        width: 100%;
    }

    #chart_table .top_titles div {
        text-align: center;
        color: var(--preference-sh2);
        text-transform: uppercase;
        font-size: 75%;
    }

    #chart_table div.table_cell input,
    #chart_table div.table_cell select {
        border: 0px;
        background-color: rgba(0,0,0,.02);
        text-align: center;
        color: var(--preference-sh1);
        font-weight: 500;
        box-shadow: inset 0 1px 2px hsl(0deg 0% 4% / 10%);
    }

        #chart_table div.table_cell input[type="text"]:disabled {
            background: rgba(0,0,0,.02);
        }

.right_panel {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 10.8rem;
    border-radius: 3px;
}

    .right_panel header {
        background-color: var(--green);
        min-height: 3rem;
        display: block;
        width: 100%;
        border-left: 2px solid rgba(0,0,0,.2);
    }
    